langchain==0.3.27
langchain-core==0.3.74
langchain-community==0.3.27
langchain-text-splitters==0.3.9
langchain-huggingface==0.3.1
huggingface-hub==0.34.4
google-genai==1.31.0
langchain-google-genai==2.1.9
django
pymupdf
python-dotenv
sentence-transformers==5.1.0